name: Mi Prueba de Humo iOS
on:
  workflow_dispatch:

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Instalar pods
        run: |
          cd analytics
          pod install

      - name: Compilar
        run: |
          xcodebuild -workspace analytics/AnalyticsExample.xcworkspace \
            -scheme AnalyticsExample \
            -configuration Debug \
            -sdk iphonesimulator \
            -derivedDataPath build

      - name: Guardar App para Appetize
        uses: actions/upload-artifact@v4
        with:
          name: app-simulador
          path: build/Build/Products/Debug-iphonesimulator/AnalyticsExample.app
