name: Prueba Humo IOS
on:
  workflow_dispatch:

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: ¿Dónde está el Podfile?
        run: |
          ls -R analytics

      - name: Compilar para Simulador
        run: |
          xcodebuild -workspace analytics/AnalyticsExample/AnalyticsExample.xcworkspace \
            -scheme AnalyticsExample \
            -configuration Debug \
            -sdk iphonesimulator \
            -derivedDataPath build

      - name: Guardar App para Appetize
        uses: actions/upload-artifact@v4
        with:
          name: app-simulador
          path: analytics/AnalyticsExample/build/Build/Products/Debug-iphonesimulator/AnalyticsExample.app
