name: Prueba Final Caro - La Vencida
on:
  workflow_dispatch:

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Crear Podfile y Instalar
        run: |
          cd analytics/AnalyticsExample
          
          # Creamos el Podfile con la ruta al proyecto
          cat <<EOF > Podfile
          platform :ios, '15.0'
          project 'AnalyticsExample.xcodeproj'
          use_frameworks!

          target 'AnalyticsExample' do
            pod 'FirebaseAnalytics'
          end
          EOF
          
          pod install

      - name: Compilar para Simulador
        run: |
          cd analytics/AnalyticsExample
          xcodebuild -workspace AnalyticsExample.xcworkspace \
            -scheme AnalyticsExample \
            -configuration Debug \
            -sdk iphonesimulator \
            -derivedDataPath build \
            -quiet

      - name: Guardar App para Appetize
        uses: actions/upload-artifact@v4
        with:
          name: app-simulador
          path: analytics/AnalyticsExample/build/Build/Products/Debug-iphonesimulator/AnalyticsExample.app
