name: Prueba Final Caro
on:
  workflow_dispatch:

jobs:
  build_ios:
    runs-on: macos-latest
    steps:
      - name: Checkout del código
        uses: actions/checkout@v4

      - name: Encontrar y preparar proyecto
        run: |
          # Buscamos dónde está el Podfile realmente
          PODFILE_PATH=$(find . -name "Podfile" -exec dirname {} \;)
          echo "El Podfile está en: $PODFILE_PATH"
          cd "$PODFILE_PATH"
          pod install

      - name: Compilar para Simulador
        run: |
          # Buscamos el workspace y compilamos desde ahí
          WORKSPACE_PATH=$(find . -name "*.xcworkspace" -exec dirname {} \;)
          cd "$WORKSPACE_PATH"
          xcodebuild -workspace *.xcworkspace \
            -scheme AnalyticsExample \
            -configuration Debug \
            -sdk iphonesimulator \
            -derivedDataPath build

      - name: Guardar App para Appetize
        uses: actions/upload-artifact@v4
        with:
          name: app-simulador
          path: "**/build/Build/Products/Debug-iphonesimulator/*.app"
