name: Rayos X Repositorio
on:
  workflow_dispatch:

jobs:
  listar_todo:
    runs-on: macos-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: ¿Qué hay aquí?
        run: |
          echo "--- LISTA DE CARPETAS RAÍZ ---"
          ls -F
          echo "--- BUSCANDO TODOS LOS PODFILES EN EL REPO ---"
          find . -name "Podfile"
